In [5]:
# Importing Data manipulation Library
import pandas as pd
import numpy as np

# Importing Data visualization Library
import seaborn as sns
import matplotlib.pyplot as plt

# Importing filter warning Library 
import warnings
warnings.filterwarnings('ignore')

# Importing Logging Labrary
import logging
logging.basicConfig(filename='model.log', 
                    level=logging.INFO,
                    format='%(levelname)s:%(message)s',
                    filemode='w')

In [ ]:
# Loading The dataset

URL = ''

df = pd.read_csv(URL,sep="/s+")
df.sample(frac=1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
26,0.67191 0.00 8.140 0 0.5380 5.8130 90....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,0.28960 0.00 9.690 0 0.5850 5.3900 72....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,0.01538 90.00 3.750 0 0.3940 7.4540 34....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,0.19073 22.00 5.860 0 0.4310 6.7180 17....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,0.04301 80.00 1.910 0 0.4130 5.6630 21....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,6.39312 0.00 18.100 0 0.5840 6.1620 97....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,0.16902 0.00 25.650 0 0.5810 5.9860 88....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,4.09740 0.00 19.580 0 0.8710 5.4680 100....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,0.37578 0.00 10.590 1 0.4890 5.4040 88....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,0.14030 22.00 5.860 0 0.4310 6.4870 13....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
headers = ('CRIM', 'ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV')